html[data-theme="dark"] {
  .project {
    margin-left: 0;
    margin-top: 20px;
    & h1 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 300;
      color: #fff;
      margin-bottom: 20px;
    }

    & h5 {
      font-size: 30px;
      color: #fff;
    }

    & h2 {
      font-style: italic;
      font-size: 20px;
      color: #fff;
      font-weight: 400;
    }

    & p {
      margin-left: 20px;
      font-weight: 200;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
    }

    & h4 {
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 28px;
      color: #fff;
    }

    & .project_profile {
      margin-bottom: 10px;
      margin-top: 10px;
      margin-left: 10px;
      & .project_profile_item {
        text-decoration: none;
        margin-right: 25px;
        border-radius: 15px;
        padding: 20px;
        border: 1px solid #fff;
        background-color: rgba($color: #000000, $alpha: 0.9);
        margin-bottom: 25px;
        transition: .1s;

        &:hover {
          transition: .1s;
          transform: scale(1.1);
          cursor: pointer;
          border-color: #05DEF2;
        }

        & .project_profile_nick {
          color: #fff;
          font-size: 24px;
          font-weight: 500;
        }

        & .project_profile_role {
          margin-left: 10px;
          color: #fff;
          font-size: 16px;
          font-style: italic;
          font-weight: 200;
          margin-bottom: 10px;
        }

        & .project_profile_desc {
          font-weight: 200;
          font-size: 14px;
          color: #fff;
        }

        & span {
          font-weight: 500;
          font-size: 18px;
        }

        & p {
          margin-top: 13px;
          font-weight: medium;
          color: #000;
        }

        & a {
          letter-spacing: 1px;
          text-transform: uppercase;
          display: inline-block;
          margin: 0 auto;
          padding-top: 12px;
          text-align: center;
          text-decoration: none;
          margin-top: 10px;
          display: inline;
          font-size: 14px;
          font-weight: 400;
          margin-right: 20px;
          outline: none;
          background: none;
          color: #fff;
          width: 270px;
          height: 50px;
          border: 2px solid #fff;
          border-radius: 15px;

          &:hover {
            transition: 0.1s;
            background-color: #fff;
            color: #000;
            border-color: #fff;
            border: 2px outset #fff;
          }
        }
      }
    }

    & .more_action {
      & .delete_project {
        text-align: right;

        & span {
          color: #fff;
          &:hover {
            cursor: pointer;
            color: red;
            display: inline-block;
            margin-top: 2px;
            font-size: 16px;
          }
        }

        & a {
          &:hover {
            cursor: pointer;
            color: red;
          }
        }
      }

      border: 1px solid #fff;
      margin-left: 20px;
      padding: 15px 15px 15px 15px;
      border-radius: 15px;
      background-color: rgba($color: #000000, $alpha: 0.9);

      & a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        border-radius: 15px;

        &:hover {
          display: inline-block;
          transform: scale(1.1);
        }
      }
    }
  }
}

html[data-theme="light"] {
  .project {
    margin-left: 0;
    margin-top: 20px;
    & h1 {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 300;
      color: #000;
      margin-bottom: 20px;
    }

    & h5 {
      font-size: 30px;
      color: #000;
    }

    & h2 {
      font-style: italic;
      font-size: 20px;
      color: #000;
      font-weight: 400;
    }

    & p {
      margin-left: 20px;
      font-weight: 200;
      font-size: 16px;
      color: #000;
      margin-bottom: 30px;
    }

    & h4 {
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 28px;
      color: #000;
    }

    & .project_profile {
      margin-top: 10px;
      margin-left: 10px;
      & .project_profile_item {
        margin-right: 25px;
        border-radius: 15px;
        padding: 20px;
        border: 1px solid #000;
        background-color: rgba($color: #fff, $alpha: 0.9);
        margin-bottom: 25px;
        text-decoration: none;
        transition: .1s;

        &:hover {
          transition: .1s;
          transform: scale(1.1);
          cursor: pointer;
          border-color: #05DEF2;
        }

        & .project_profile_nick {
          color: #000;
          font-size: 24px;
          font-weight: 500;
        }

        & .project_profile_role {
          margin-left: 10px;
          color: #000;
          font-size: 16px;
          font-style: italic;
          font-weight: 200;
          margin-bottom: 10px;
        }

        & .project_profile_desc {
          font-weight: 200;
          font-size: 14px;
          color: #000;
        }

        & span {
          font-weight: 500;
          font-size: 18px;
        }

        & p {
          margin-top: 13px;
          font-weight: medium;
          color: #fff;
        }

        & a {
          letter-spacing: 1px;
          text-transform: uppercase;
          display: inline-block;
          margin: 0 auto;
          padding-top: 12px;
          text-align: center;
          text-decoration: none;
          margin-top: 10px;
          display: inline;
          font-size: 14px;
          font-weight: 400;
          margin-right: 20px;
          outline: none;
          background: none;
          color: #000;
          width: 270px;
          height: 50px;
          border: 2px solid #000;
          border-radius: 15px;

          &:hover {
            transition: 0.1s;
            background-color: #000;
            color: #fff;
            border-color: #000;
            border: 2px outset #000;
          }
        }
      }
    }

    & .more_action {
      & .delete_project {
        text-align: right;

        & span {
          color: #fff;
          &:hover {
            cursor: pointer;
            color: red;
            display: inline-block;
            margin-top: 2px;
            font-size: 16px;
          }
        }

        & a {
          &:hover {
            cursor: pointer;
            color: red;
          }
        }
      }

      border: 1px solid #fff;
      margin-left: 20px;
      padding: 15px 15px 15px 15px;
      border-radius: 15px;
      background-color: rgba($color: #000000, $alpha: 0.9);

      & a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        border-radius: 15px;

        &:hover {
          display: inline-block;
          transform: scale(1.1);
        }
      }
    }
  }
}
