// THEME DARK
html[data-theme="dark"] {
  & .go_to_login {

    & .about-project-link {
      padding-bottom: 8px;
      display: inline-block;
      border-bottom: 2px solid #fff;
      border-radius: 10px;
      margin-left: 15px;
      text-decoration: none;
      color: #fff;
      font-size: 20px;

      &:hover {
        transition: .1s;
        border-color: #05DEF2;
        color: #05DEF2;
      }
    }

    & h1 {
      color: #fff;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 40px;
      font-size: 32px;
      margin-bottom: 40px;
    }

    & span {
      letter-spacing: 1px;
      color: #fff;
      font-weight: light;
      font-size: 16px;
      margin-bottom: 35px;
    }

    & .login_button {
      margin-bottom: 30px;
      margin-left: 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      outline: none;
      background: none;
      color: #fff;
      padding-top: 6px;
      height: 50px;
      width: 100px;
      border: 2px solid #fff;
      border-radius: 15px;

      &:hover {
        transition: 0.1s;
        background-color: rgba($color: #fff, $alpha: 1);
        color: #000;
        border-color: #fff;
        border: 2px outset #fff;
      }
      
    }

    & .link-button {
      margin-bottom: 30px;
      margin-left: 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      outline: none;
      background: none;
      color: #fff;
      padding-top: 6px;
      width: 200px;
      height: 50px;
      border: 2px solid #fff;
      border-radius: 15px;

      &:hover {
        transition: 0.1s;
        background-color: rgba($color: #fff, $alpha: 1);
        color: #000;
        border-color: #fff;
        border: 2px outset #fff;
      }
    }
  }
}

// LIGHT THEME
html[data-theme="light"] {
  & .go_to_login {

    & .about-project-link {
      padding-bottom: 8px;
      display: inline-block;
      border-bottom: 2px solid #000;
      border-radius: 10px;
      margin-left: 15px;
      text-decoration: none;
      color: #000;
      font-size: 20px;

      &:hover {
        transition: .1s;
        border-color: #05DEF2;
        color: #05DEF2;
      }
    }

    & h1 {
      color: #000;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 40px;
      font-size: 32px;
      margin-bottom: 40px;
    }

    & span {
      letter-spacing: 1px;
      color: #000;
      font-weight: light;
      font-size: 16px;
      margin-bottom: 35px;
    }

    & .login_button {
      margin-bottom: 30px;
      margin-left: 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      outline: none;
      background: none;
      color: #000;
      padding-top: 6px;
      height: 50px;
      width: 100px;
      border: 2px solid #000;
      border-radius: 15px;

      &:hover {
        transition: 0.1s;
        background-color: rgba($color: #000, $alpha: 1);
        color: #fff;
        border-color: #000;
        border: 2px outset #000;
      }
    }

    & .link-button {
      margin-bottom: 30px;
      margin-left: 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      outline: none;
      background: none;
      color: #000;
      padding-top: 6px;
      width: 200px;
      height: 50px;
      border: 2px solid #000;
      border-radius: 15px;

      &:hover {
        transition: 0.1s;
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: #fff;
        border-color: #fff;
        border: 2px outset #fff;
      }
    }
  }
}
