// FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

// FONTS RULES
// font-family: 'Inter', sans-serif;

// DARK THEME COLORS
// WHITE - #FFF
// BLACK - #000
// CYAN - #05DEF2
// RED - #F00

// DARK THEME
html[data-theme="dark"] {
  & body {
    background: url("./assets/img/night1cyan.jpg") no-repeat;
    background-size: 100% 100vh;
  }

  & .app {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
}

html[data-theme="light"] {
  & body {
    background: url("./assets/img/day1cyan.jpg") no-repeat;
    background-size: 100% 100vh;
  }

  & .app {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
  }
}

@media screen and (max-width: 1400px) {
  html[data-theme="light"] {
    & .app {
      & .profile {
        padding-top: 20px;
        & .redact {
          & .admin_button {
            & a {
              font-size: 20px;
            }
          }
          & .edit_button {
            font-size: 20px;
          }
        }
      }
    }
  }
  html[data-theme="dark"] {
    & .app {
      & .profile {
        padding-top: 20px;
        & .redact {
          & .admin_button {
            & a {
              font-size: 20px;
            }
          }
          & .edit_button {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  html[data-theme="dark"] {
    & .app {
      & .all_projects {
        & .project_row {
          margin: 0 auto;
        }
      }
    }
  }
  html[data-theme="light"] {
    & .app {
      & .all_projects {
        & .project_row {
          margin: 0 auto;
        }
      }
    }
  }
}

@media screen and (max-height: 945px) {
  html[data-theme="dark"] {
    & .body {
      background-size: cover;
    }

    & .app {
      & .footer {
        position: relative;
        margin-top: 80vh;
      }
    }
  }
  html[data-theme="light"] {
    & .body {
      background-size: cover;
    }

    & .app {
      & .footer {
        position: relative;
        margin-top: 80vh;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  html[data-theme="dark"] {
    & .app {
      // & .footer {
      //   position: relative;
      // }

      & .about_content {
        padding-top: 50px;
        & .about_side {
          & .learn {
          }
        }
      }

      & .find_more {
        & .search_result {
          & .result_user_block {
            width: 500px;

            & a {
              font-size: 18px;
            }

            & button {
              font-size: 18px;
            }
          }
        }
      }

      & .admin {
        & .site_users {
          & .site_users_item {
            width: 500px;
            & .admin_user_menu_bar {
              & span {
                font-size: 14px;
              }
            }
          }
        }
      }

      & .footer {
        position: relative;
        margin-top: 80vh;
      }

      & .profile {
        padding-top: 20px;
        & .redact {
          & .admin_button {
            & a {
              font-size: 20px;
            }
          }
          & .edit_button {
            font-size: 20px;
          }
        }
      }

      & .header {
        & .login {
          & span {
            font-size: 14px;
          }
          & a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 375px) {
//   html[data-theme="dark"] {
//     & .app {

//       & .header {
//         display: flex;

//         & img {
//           margin-left: 11ch;
//         }

//         & .menu_links {
//           & a {
//             // text-align: center;
//           }
//         }

//         & .login {
//           display: block;
//         }

//       }

//       & .about_content {
//         margin-top: 0;
//         padding-top: 0;
//       }

//       & .footer {
//         position: relative;
//         margin-top: 85vh;
//       }
//     }
//   }
// }
