// DARK THEME
html[data-theme="dark"] {
  & .header {
    & img {
      width: 100px;
    }

    & .menu_links {
      & a {
        font-weight: 200;
        font-size: 18px;
        color: #fff;
        letter-spacing: 1px;
        text-decoration: none;
        margin-right: 50px;

        &:hover {
          color: #05DEF2;
          transition: 0.1s;
        }

        &:nth-last-child() {
          margin-right: 0;
        }
      }
    }

    & .theme-handler {
      width: 35px;
      &:hover {
        cursor: pointer;
      }
    }

    & .login {
      text-align: right;

      & .logout {
        &:hover {
          color: #05DEF2;
          transition: .1s;
          cursor: pointer;
        }
      }

      & span {
        color: #fff;
        font-weight: 200;
        font-size: 16px;

        & a {
          text-decoration: none;
          font-weight: 200;
          font-size: 18px;
          color: #fff;
          letter-spacing: 1px;

          &:hover {
            transition: 0.1s;
            color: #05DEF2;
          }
        }
      }
    }
  }
}

html[data-theme="light"] {
  & .header {
    & img {
      width: 100px;
    }

    & .menu_links {
      & a {
        font-weight: 200;
        font-size: 18px;
        color: #000;
        letter-spacing: 1px;
        text-decoration: none;
        margin-right: 50px;

        &:hover {
          color: #05DEF2;
          transition: 0.1s;
        }

        &:nth-last-child() {
          margin-right: 0;
        }
      }
    }

    & .theme-handler {
      width: 35px;
      &:hover {
        cursor: pointer;
      }
    }

    & .login {
      text-align: right;

      & .logout {
        &:hover {
          color: #05DEF2;
          transition: .1s;
          cursor: pointer;
        }
      }

      & span {
        color: #000;
        font-weight: 200;
        font-size: 18px;

        & a {
          text-decoration: none;
          font-weight: 200;
          font-size: 18px;
          color: #000;
          letter-spacing: 1px;

          &:hover {
            transition: 0.1s;
            color: #05DEF2;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  html[data-theme="dark"] {
    & .login {
      & a {
        font-size: 1px;
      }
    }
  }
}