// THEME DARK
html[data-theme="dark"] {
  & .about_side {
    & p {
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal;
      color: #fff;
    }

    & button {
      border: none;
      text-align: left;
      outline: none;
      background: none;
      color: #fff;
      font-size: 20px;
      font-weight: medium;
      letter-spacing: 1px;

      & span {
        font-size: 16px;
      }
    }

    & h4 {
        margin-top: 85px;
        font-size: 20px;
        font-weight: medium;
        color: #fff;
    }

  }
}
